.icon-tree-app{
    background:url('icons/tree_app.gif') no-repeat center center;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat center center;
}
.icon-lookup{
	background:url('icons/lookup.gif') no-repeat center center;
}
.tbtn_addnew{
	background:url('icons/tbtn_new.gif') no-repeat center center;
}
.tbtn_tree_new{
	background:url('icons/tbtn_tree_new.gif') no-repeat center center;
}
.tbtn_refresh{
	background:url('icons/tbtn_refresh.gif') no-repeat center center;
}
.tbtn_ok{
	background:url('icons/tbtn_ok.png') no-repeat center center;
}
.tbtn_undo{
	background:url('icons/undo.png') no-repeat center center;
}
.tbtn_forbid{
	background:url('icons/tbtn_forbid.gif') no-repeat center center;
}
.tbtn_remove{
	background:url('icons/tbtn_delete.gif') no-repeat center center;
}
.tbtn_filter{
	background:url('icons/tbtn_filter.gif') no-repeat center center;
}
.tbtn_upload{
	background:url('icons/tbtn_upload.gif') no-repeat center center;
}
.tbtn_close{
    background:url('icons/tbtn_close.gif') no-repeat center center;
}
.tbtn_find{
    background:url('icons/tbtn_find.gif') no-repeat center center;
}
.tbtn_blankout{
    background:url('icons/tbtn_blankout.gif') no-repeat center center;
}
.tbtn_clear{
	background:url('icons/tbtn_clear.gif') no-repeat center center;
}
.tbtn_importexcel{
	background:url('icons/tbtn_importexcel.gif') no-repeat center center;
}
.tbtn_save{
	background:url('icons/tbtn_save.gif') no-repeat center center;
}
.tbtn_savenew{
	background:url('icons/tbtn_savenew.gif') no-repeat center center;
}
.tbtn_quit{
	background:url('icons/tbtn_quit.gif') no-repeat center center;
}
.tbtn_edit{
	background:url('icons/tbtn_edit.gif') no-repeat center center;
}
.tbtn_popedomsetting{
	background:url('icons/tbtn_popedomsetting.gif') no-repeat center center;
}
.tbtn_allotpopedom{
	background:url('icons/tbtn_allotpopedom.gif') no-repeat center center;
}
.tbtn_attemper{
    background:url('icons/tbtn_attemper.gif') no-repeat center center;
}
.tbtn_lookup{
	background:url('icons/tbtn_lookup.gif') no-repeat center center;
}
.tbtn_copy{
	background:url('icons/tbtn_copy.gif') no-repeat center center;
}
.tbtn_move{
	background:url('icons/tbtn_move.gif') no-repeat center center;
}
.tbtn_selectall{
	background:url('icons/tbtn_selectall.gif') no-repeat center center;
}
.tbtn_deleteall{
	background:url('icons/tbtn_deleteall.gif') no-repeat center center;
}
.tbtn_addline{
	background:url('icons/tbtn_addline.gif') no-repeat center center;
}
.tbtn_insert{
    background:url('icons/tbtn_insert.gif') no-repeat center center;
}
.tbtn_deleteline{
    background:url('icons/tbtn_deleteline.gif') no-repeat center center;
}
.tbtn_auditing{
    background:url('icons/tbtn_auditing.gif') no-repeat center center;
}
.tbtn_tempsave{
    background:url('icons/tbtn_tempsave.gif') no-repeat center center;
}
.tbtn_submit {
	background:url('icons/tbtn_submit.gif') no-repeat center center;
}
.tbtn_redclash {
	background:url('icons/tbtn_redclash.gif') no-repeat center center;
}
.tbtn_preview {
    background:url('icons/tbtn_preview.gif') no-repeat center center;
}
.tbtn_checkdispose {
	background:url('icons/tbtn_checkdispose.gif') no-repeat center center;
}
.tbtn_first {
	background:url('icons/tbtn_first.gif') no-repeat center center;
}
.tbtn_last {
	background:url('icons/tbtn_last.gif') no-repeat center center;
}
.tbtn_previous {
	background:url('icons/tbtn_previous.gif') no-repeat center center;
}
.tbtn_next {
	background:url('icons/tbtn_next.gif') no-repeat center center;
}